.author {
  display: flex;
  border: 0;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.author h2 {
  margin: 0;
  margin-left: 10px;
}

.author p {
  margin: 0;
}

.author-info {
  flex-grow: 1;
  margin-left: 10px;
}

.MuiSvgIcon-root {
  width: 48px;
  height: 48px;
}